.classpath
.project
.settings/
target/
dev.properties
dev_context.xml
prod.properties
src/test/resources/hibernate.cfg.xml
src/main/resources/app.properties
.idea
*.iml
.vscode
.factorypath
WebContent/META-INF/context_local.xml