<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">${db.url}</property>
		<property name="hibernate.connection.username">${db.username}</property>
		<property name="hibernate.connection.password">${db.password}</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">${db.showSQL}</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">${ddl-auto-mode}</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">53</property>
		<property name="hibernate.c3p0.timeout">100</property>
		<property name="hibernate.c3p0.max_statements">200</property>
		<property name="hibernate.c3p0.idle_test_period">1000</property>
		<property name="hibernate.c3p0.validate">true</property>
		<mapping class="com.mosioj.entrainements.entities.Coach" />
		<mapping class="com.mosioj.entrainements.entities.Training" />
		<mapping class="com.mosioj.entrainements.entities.User" />
		<mapping class="com.mosioj.entrainements.entities.UserRole" />
		<mapping class="com.mosioj.entrainements.entities.PasswordResetRequest" />
	</session-factory>
</hibernate-configuration>